*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main.my-main{
    display: flex;
    justify-content: center;
    padding-top: 7rem;
}

main div.container{
    width: 1000px;
    height: 550px;
    border: 1px solid black;
}
main div.container div.container-img{
    width: 700px;
    height: 550px;
    border: 1px solid red;
}

main div.container div.container-img div.imageUp {
    width: 700px;
    height: 550px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
    object-position: center;
    position: relative;
}

div.description{
    position: absolute;
    top: 8rem;
    color: antiquewhite;
}

div.imageUp{
    display: none;
}

div.imageUp.active{
    display: block;
}

