*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main.my-main{
    display: flex;
    justify-content: center;
    padding-top: 7rem;
}

main div.container{
    width: 1000px;
    height: 550px;
    border: 1px solid black;
    position: relative;
}
main div.container div.container-img{
    width: 700px;
    height: 550px;
    border: 1px solid red;
}

main div.container div.container-img div.imageUp {
    width: 700px;
    height: 550px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
    object-position: center;
    position: relative;
}

div.description{
    position: absolute;
    top: 2rem;
    color: rgb(255, 0, 0);
    width: 600px;
}

div.imageUp{
    display: none;
}

div.imageUp.active{
    display: block;
}

button{
    background-color: blue;
    color: white;
    padding: 0.4rem;
    border: none;
    border-radius: 1rem;
}

#up-arr{
    position: absolute;
    z-index: 1;
    left: 350px;
    top: 5px;
}

#down-arr{
   position: absolute;
   z-index: 1;
   left: 350px;
   bottom: 10px;
}